@use "./palette.scss" as *;
@use "./constants.scss" as *;

.header {
  height: $header_height;
  background: $color1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    height: $header_content_height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;

    padding: 0 40px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    .nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    .logo {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 100%;
    }
  }

  .actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

    .add {
    }
  }
}
