@use "@/styles/abstracts/colors" as *;
@use "@/styles/abstracts/variables" as *;

.header {
  height: $header-height;
  background: $primary-color;
  color: $text-light;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 100px;

  .content {
    height: $header_content_height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;

    padding: 0 40px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    .nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    .logo {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 100%;
    }
  }

  .actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    gap: 30px;
  }
}
