// Brand Colors
$primary-color: rgb(3, 37, 65);
$light-green: rgb(30, 213, 169);
$light-blue: rgb(1, 180, 228);

// UI Colors
$border-color: rgba(33, 37, 41, 0.2);
$background-hover: #dee2e6;

// Text Colors
$text-primary: #000;
$text-light: #fff;
$text-secondary: #212529;
