.discover {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;

  .filters {
    width: 25%;
  }

  .list {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
  }
}
