main {
  display: flex;
  justify-content: center;
}

button {
  font-family: var(--font-source-sans-3);
}

.container {
  max-width: 1400px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
